@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;900&display=swap");

:root {
  font-family: poppins;
  background-image: url("../public/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
